# Objetivo
Evaluar la performance operativa y financiera de YPF, con énfasis en Vaca Muerta (shale oil/gas) a fin de establer una valoración.

Importar librería

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
import plotly.express as px
import plotly.graph_objects as go
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA

Fuente de datos

In [9]:
# Definir la ruta del archivo
file_path = './dataset/EEFF.xlsx'

# Leer las hojas específicas del archivo .xlsx
sheets = {
    "upstream_operativas": pd.read_excel(file_path, sheet_name="Upstream - operativas"),
    "upstream_resultados": pd.read_excel(file_path, sheet_name="Upstream - resultados"),
    "downstream_resultados": pd.read_excel(file_path, sheet_name="Downstream - resultados"),
    "downstream_operativas": pd.read_excel(file_path, sheet_name="Downstream - operativas")
}

# Mostrar las primeras filas de cada hoja (opcional)
for sheet_name, df in sheets.items():
    print(f"Primeras filas de la hoja '{sheet_name}':")
    print(df.head())
    print("\n")

Primeras filas de la hoja 'upstream_operativas':
   Unnamed: 0                      Unnamed: 1  Unnamed: 2  Unnamed: 3  \
0         NaN  Upstream información operativa        4T24        3T24
1         NaN             Cifras no auditadas         NaN         NaN
2         NaN        Desglose producción neta         NaN         NaN
3         NaN        Producción Crudo (Kbbld)  269.755547  255.835646
4         NaN                    Convencional  129.558679  127.654979

   Unnamed: 4 Unnamed: 5 Unnamed: 6  Unnamed: 7   Unnamed: 8   Unnamed: 9  \
0        4T23     T/T  ∆     A/A  ∆         NaN  2024.000000  2023.000000
1         NaN        NaN        NaN         NaN          NaN          NaN
2         NaN        NaN        NaN         NaN          NaN          NaN
3   255.06305    0.05441   0.057603         NaN   257.483983   242.869283
4  143.115485   0.014913  -0.094726         NaN   132.769954   142.997621

   ... Unnamed: 15  Unnamed: 16  Unnamed: 17 Unnamed: 18 Unnamed: 19  \
0  ...        3T23         4T23  2023.000000         NaN         NaN
1  ...         NaN          NaN          NaN         NaN         NaN
2  ...         NaN          NaN          NaN         NaN         NaN
3  ...  236.897853    255.06305   242.869283         NaN         NaN
4  ...  141.955924   143.115485   142.997621         NaN         NaN

  Unnamed: 20 Unnamed: 21  Unnamed: 22  Unnamed: 23  Unnamed: 24
0        1T24        2T24         3T24         4T24  2024.000000
1         NaN         NaN          NaN          NaN          NaN
2         NaN         NaN          NaN          NaN          NaN
3  255.466443  248.761557   255.835646   269.755547   257.483983
4  140.881357    133.0763   127.654979   129.558679   132.769954

[5 rows x 25 columns]


Primeras filas de la hoja 'upstream_resultados':
   Unnamed: 0                            Unnamed: 1   Unnamed: 2   Unnamed: 3  \
0         NaN                   Resultados Upstream         4T24         3T24
1         NaN  Cifras no auditadas, en US$ millones          NaN          NaN
2         NaN                                 Crudo  1590.952585  1599.187796
3         NaN                           Gas natural   345.444065   615.652851
4         NaN                                 Otros     32.60335    31.159352

   Unnamed: 4 Unnamed: 5 Unnamed: 6  Unnamed: 7   Unnamed: 8   Unnamed: 9  \
0        4T23     T/T  ∆     A/A  ∆         NaN  2024.000000  2023.000000
1         NaN        NaN        NaN         NaN          NaN          NaN
2  1331.83583   -0.00515   0.194556         NaN  6317.282238  5399.352455
3  353.388599  -0.438898  -0.022481         NaN  1825.477115  1733.738966
4   24.775571   0.046342   0.315947         NaN   132.240647   109.908580

   ...  Unnamed: 14  Unnamed: 15  Unnamed: 16  Unnamed: 17 Unnamed: 18  \
0  ...         2T23         3T23         4T23  2023.000000         NaN
1  ...          NaN          NaN          NaN          NaN         NaN
2  ...  1363.074085  1298.828003   1331.83583  5399.352455         NaN
3  ...   472.885609   549.887211   353.388599  1733.738966         NaN
4  ...    23.040306    32.284786    24.775571   109.908580         NaN

   Unnamed: 19  Unnamed: 20  Unnamed: 21  Unnamed: 22  Unnamed: 23
0         1T24         2T24         3T24         4T24  2024.000000
1          NaN          NaN          NaN          NaN          NaN
2  1559.185462  1567.956395  1599.187796  1590.952585  6317.282238
3   353.932217   510.447982   615.652851   345.444065  1825.477115
4    33.882321    34.595623    31.159352     32.60335   132.240647

[5 rows x 24 columns]


Primeras filas de la hoja 'downstream_resultados':
   Unnamed: 0                            Unnamed: 1   Unnamed: 2   Unnamed: 3  \
0         NaN                 Resultados Downstream         4T24         3T24
1         NaN  Cifras no auditadas, en US$ millones          NaN          NaN
2         NaN                         Gasoil (3ros)  1580.566611  1646.176873
3         NaN                         Naftas (3ros)  1022.496434  1022.537176
4         NaN                   Otros mercado local   682.749404   753.248853

    Unnamed: 4 Unnamed: 5 Unnamed: 6  Unnamed: 7   Unnamed: 8   Unnamed: 9  \
0         4T23     T/T  ∆     A/A  ∆         NaN  2024.000000  2023.000000
1          NaN        NaN        NaN         NaN          NaN          NaN
2  1671.604691  -0.039856  -0.054461         NaN  6454.006053  6492.791337
3   943.013302   -0.00004   0.084286         NaN  4013.134800  3493.312214
4    770.92983  -0.093594  -0.114382         NaN  2657.202629  3204.136665

   ...  Unnamed: 14  Unnamed: 15  Unnamed: 16  Unnamed: 17 Unnamed: 18  \
0  ...         2T23         3T23         4T23  2023.000000         NaN
1  ...          NaN          NaN          NaN          NaN         NaN
2  ...  1638.750616  1562.864328  1671.604691  6492.791337         NaN
3  ...   833.343049   824.493715   943.013302  3493.312214         NaN
4  ...   814.897568   813.710208    770.92983  3204.136665         NaN

   Unnamed: 19  Unnamed: 20  Unnamed: 21  Unnamed: 22  Unnamed: 23
0         1T24         2T24         3T24         4T24  2024.000000
1          NaN          NaN          NaN          NaN          NaN
2  1555.521406  1671.741163  1646.176873  1580.566611  6454.006053
3  1021.901794   946.199396  1022.537176  1022.496434  4013.134800
4   572.031797   649.172575   753.248853   682.749404  2657.202629

[5 rows x 24 columns]


Primeras filas de la hoja 'downstream_operativas':
   Unnamed: 0                                      Unnamed: 1  Unnamed: 2  \
0         NaN                Información Operativa Downstream        4T24
1         NaN                             Cifras no auditadas         NaN
2         NaN                         Crudo procesado (Kbbld)  304.060186
3         NaN                      Utilización refinerias (%)    0.899749
4         NaN  Capacidad nominal de 337,94 Kbbl/d desde 1T24.         NaN

   Unnamed: 3  Unnamed: 4  Unnamed: 5 Unnamed: 6  Unnamed: 7   Unnamed: 8  \
0        3T24        4T23      T/T  ∆     A/A  ∆         NaN  2024.000000
1         NaN         NaN         NaN        NaN         NaN          NaN
2  298.328026  289.752432    0.019214   0.049379         NaN   300.667594
3    0.882787     0.88323  169.621163   165.1897         NaN     0.889710
4         NaN         NaN         NaN        NaN         NaN          NaN

    Unnamed: 9  ... Unnamed: 14  Unnamed: 15  Unnamed: 16  Unnamed: 17  \
0  2023.000000  ...        2T23         3T23         4T23  2023.000000
1          NaN  ...         NaN          NaN          NaN          NaN
2   294.434388  ...   305.11534   276.093307   289.752432   294.434388
3     0.897502  ...     0.93006     0.841594      0.88323     0.897502
4          NaN  ...         NaN          NaN          NaN          NaN

  Unnamed: 18 Unnamed: 19 Unnamed: 20  Unnamed: 21  Unnamed: 22  Unnamed: 23
0         NaN        1T24        2T24         3T24         4T24  2024.000000
1         NaN         NaN         NaN          NaN          NaN          NaN
2         NaN  301.097644   299.17295   298.328026   304.060186   300.667594
3         NaN    0.890982    0.885287     0.882787     0.899749     0.889710
4         NaN         NaN         NaN          NaN          NaN          NaN

[5 rows x 24 columns]

### 1. Preprocesamiento de datos:
  * 1.1. Selección de columnas relevantes (ingresos, EBITDA, producción de petróleo/gas, costos operativos, CAPEX, deuda, etc.).
  * 1.2. Limpieza de datos (valores nulos, duplicados, formateo).